* {
    font-family: 'Mark Pro', "Roboto" ,sans-serif !important;;
    -webkit-font-smoothing: antialiased !important;
  }
  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
  }
  
  :root {
    --dark-blue-grey: #1f2a4b;
    --dark-sky-blue: #4a77e5;
    --bg: #f6f7f8;
  }
  